# IDE & Editors
.idea/
.ropeproject/
*.tsbuildinfo

# Environments & Configs
.env
.venv/

# Python
__pycache__/
.pytest_cache/
.ruff_cache/
*.ipynb

# JavaScript / Node
node_modules/
*/node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# Expo & Web
.expo/
dist/
web-build/
expo-env.d.ts
.metro-health-check*

# Mobile (iOS & Android)
/ios/
/android/
.kotlin/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# OS & Security
.DS_Store
*.pem
*.orig.*

# Misc
app-example/
