<!DOCTYPE html>
<html charset="urf-8" lang="en">
    <head>
        <title>
            You have sign up successfully
        </title>
    </head>
    <body>
        <style>
            h2, p {
               text-align: center;
            }
            div {
                width: fit-content;
                border: 2px solid rgb(64, 120, 66);
                border-radius: 10px;
                margin: 0 auto;
                padding: 10px;
            }
        </style>
        <div>
            <h2>Congratulation, {{ full_name }}</h2>
            <p>You have signed up in our service via our email {{ email }}</p>
            <p>We wish you to enjoy with our app, thank you!</p>
        </div>
    </body>
</html>
